.product-img {
  width: 100%;
  height: 200px;        /* fixed height for uniform cards */
  object-fit: contain;  /* keeps full image without distortion */
  padding: 10px;
}
.star{
    width: 15px;
    height: 15px;
    opacity: 0.3 ;  /* filled vs empty */
    margin-right: 2px;
}
.star-filled{
    width: 15px;
    height: 15px;
    opacity: 1;
    margin-right: 2px;
}